.fe-info-container a {
  margin-left: 4px;
}

.fe-header-sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.fe-header-compact a[name=top] img {
  height: 40px;
}

#content_wrapper.fe-container-center {
  margin: 0 auto;
}
