body {
  width: 320px;
  /*background-color: rgb(139, 166, 184);*/
  color: #333;
  font-family: Verdana;
  font-size: 14px;
}

input[type=text], input[type=number] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  border: 1px solid rgb(170, 170, 170);
  line-height: 20px;
  font-family: Verdana;
  font-size: 14px;
  color: #333;
  height: 20px;
}

input[type=checkbox] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 0 2px rgb(170, 170, 170);
  background: #fff;
  outline: none;
}

input[type=checkbox]:hover {
  background: linear-gradient(to bottom, rgba(139, 166, 184, .4), rgb(113, 146, 168, .4));
}

input[type=checkbox]:checked {
  background: linear-gradient(to bottom, rgb(139, 166, 184), rgb(113, 146, 168));
}

input[type=checkbox]:hover:checked {
  box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 0 2px rgb(0, 0, 0);
}

label.fe-control {
  line-height: 20px;
  vertical-align: top;
}

#logo {
  width: 100%;
}

#footnote {
  text-align: right;
  font-size: 10px;
  color: #999;
}

#footnote a {
  color: #999;
}

#image-helper-grid {
  width: 100%;
  clear: left;
  float: left;
}

.image-helper-container {
  width: 33.33333334%;
  height: 100px;
  box-sizing: border-box;
  padding: 2px;
  float: left;
  overflow: hidden;
  background-color: #eee;
}

.image-helper-container > img {
  width: 100%;
  height: auto;
}

#clipboard {
  display: none;
}
